
    .user-data__form {
        background-color: #624dd6;
        overflow: hidden;
        width: 100vw;
        height: 300px;
        border-radius: 0 0 100% 100%;
        position: relative;
    }
    .user-data__photo {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: white;
        color: #624dd6;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    
    }
    .user-data__user-name {
        width: 160px;
        height: 30px;
        background-color: #FCE23C;
        color:#624dd6;
        font-family: 'Nunito';
        font-weight: 400;
        border-radius: 20px;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        outline: none;

    }
    .user-data__save-button {
        width: 100px;
        height: 30px;
        background-color: #62C052;
        color: #FCE23C;
        font-family: 'Nunito';
        font-weight: 600;
        font-size: 14px;
        border-radius: 15px;
        position: absolute;
        top: 230px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        outline: none;
    }
    placeholder {
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 14px;
    }